<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.fullname %></h1>
      <span><%= link_to "view my profile", @user %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>

    <div class="user_avatars">
      <% @users.each do |user| %>
      <br></br>
      <%= user.fullname %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>